*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background-image: url("https://i.pinimg.com/originals/f7/8a/fa/f78afaf5af7fe9e05a2c72e32a3cb1be.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 5%;
    background: #570a10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    -webkit-flow-into: 2rem;
    color: rgb(228, 126, 150);
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 1.15rem;
    color: #25180f;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #25180f;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: wheat;
    cursor: pointer;
    display: none;
}

/*Breakpoint*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar{ 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #570a10;
        overflow: hidden;
        transition: .3s ease;
    }
    
    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar a{
        display:block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;

    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #25180f;
        transition: .5s;
    }
    
    .navbar a:hover::before{
        width: 50%;
        margin-left: 25%;
        display: block; /* Make it a block-level element */
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s* var(--i));
    }
}

.banner{
    background-image: url("https://lh3.googleusercontent.com/pw/ADCreHeHUFUKX-vlsjMlvYcmLCpxp_4z2QFqO73NL3kIWb_b7MH7ChABJdx3EzLcPDqnFP3165rYZrHQiT3Uf5DPDkTpGHH9oTME04J-NuXh0EBk-oB3kGVBULNbzZ4-AepXJ0Tb9BoigbmB6jbA822O1s2wo0ei_CmIGSsNYFBs6h3MmptFwjP_j1dzsWeZHtSD0YKPTMYyAz9ow63spvbBEX6HrMkykGLpobKK2g3Lg4q6leKNxi-Vp4HniRsWPUcjQs8tpKqbyAJ06lLAs0XiRtKI_L-saKQfs-paJsRGQtR7bfQU1TuUD8y1lgB2PDJ5RBjPfVNLb9U9_4pMUmfZLp1yYIqJGrNRzPVBKS-8nK_IoO16G2XUare7_s2pcum5a5p5rQxfKDbpup8FYLq6c2IBG2xqg7A2TCWpDNVsTq14_MIeRqli_YYzeLfdEIdaa7LMEO64GIcVqxirDVedWLI9BcxAJO8J3YJXPxJTaB3el_Hc_xNCA1qtrGWPhFmMm8pUXAal35NGCgs0KHOksCtKVByzAb2MGFKqSvXoX3i9FeT5MhB2hLpe59v63VVxIMg_DSzqWcvIWEzv5ndzDbPfr_Y8Uc8qzvQLjTDoENU2YrwC7ukJJ-0via3QeZMRT6BMh2t7nFFt0wqWYKrCuaKpOk5jDakHbt85Ngwd4G0ph9bwitwjqdUzBjk-7utoK0JsLuBYSjfYBhkSF3SXZdWAMlFBsQcD7hyjfMHNSwXClyjoVMPM0NhVPwRCOLd5VTMHjHUOkr57BCAly9WGAyMCu6cRcBWfaH7DkDBCJOHqFWRxoxU5rU7L0jiXvuWac1Rd9iH1F201VUK8YRC5PQvsD3m7vMAuyHYkce1v8K42XkItoNQvraJEM5WBpFYWsS-UOfkwHOrCZl20a28Q_ADnNyxZsftX0usGNVyZYzmbRoEP_EgLug0ZVC_-xYTIOl9ENOFTKalPb5t_SFyxCgETlG9y=w1060-h606-s-no-gm?authuser=0");
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: relative;
    text-align: center;
}

.banner h1{
    position: absolute;
    top: 400px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: rgb(56, 68, 141);
    font-size: 90px;
}

@media (min-width: 992px){
    .banner-content{
        padding-top: 350px;
        text-align: center;
        max-width: 100%;
    }
}

@media (max-width: 991px){
    .banner-content{
        padding-top: 350px;
        text-align: center;
        max-width: 100%;
    }
}

.banner h1{
    position: absolute;
    top: 400px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: rgb(56, 68, 141);
    font-size: 90px;
}
